.sidebar {
    Display:flex;
    flex-direction: column;
    background-color: rgb(73, 73, 83);
    max-width: 200px;
    align-items: center;
    height: 95vh;
    padding:10px;
    margin:10px;
    border:0;
    border-radius: 10px;
}



.item {
    display: flex;
    align-items: center;

    width: 125px;
    margin: 7px 0;
    padding: 10px 20px;

    cursor: pointer;
    transition: background-color 0.3s;
    
    background-color: white;
    border: 0px;
    border-radius: 10px;
    
    text-decoration: none;
    font-family: poppins;
    color: black;
}

.item:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#quit-button{
    margin-top: auto;;
}
