.formx-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.navigation{
    position: relative;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.register{

    justify-content: end;
    margin-left: auto;
    margin-right: 40px;
    padding: 20px 30px;
    border: 2px solid rgb(237, 242, 246);
    border-radius: 10px;
    background-color: rgb(20,20,20);
    color: rgb(237, 242, 246);
    text-decoration: none;

    transition: all 0.3s;

}

.ticket{
    color: rgb(237, 242, 246);
    background-color: rgb(20,20,20);
    border: 2px solid rgb(237, 242, 246);
    border-radius: 10px ;
    margin: 10px 40px;
    padding:0px;
    padding: 20px;
    text-decoration: none;

    transition: all 0.3s;
}

.ticket:hover{
    background-color: rgb(106, 126, 252);
    color: rgb(237, 242, 246);
}

.register:hover{
    background-color: rgb(255, 86, 86);
    color: black;
}