
.form-container {
    border: 2px solid white;
    border-radius: 20px;
    width: 500px;
    position: relative;
    padding: 50px;
    background-color: rgb(20,20,20);
}

.text-box{
    
    box-sizing: border-box;
    margin: 10px 10px;
    position: relative;
}

.text-box-name-surname {
    display: flex;
    justify-content: space-between;
}

.text-box-name-surname .name,
.text-box-name-surname .surname {
    flex: 1; 
}




.text-box-name-surname input{
    border-style: solid;
    border-color:white;
    color: white;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: black;
}

.text-box input{
    border-style: solid;
    border-color:white;
    color:white;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    background-color: black;
    padding: 0px 10px;
    font-family: "Poppins";
}

.text-icon {
    position:absolute;
    right: 20px;
    top: 10px;
}

input::placeholder{
    color: white;
}

.ps-text{
    margin:10px 0px
}

#lock-icon{
    top: 20px;
}

.signup-buton {
    box-sizing: border-box;
    background-color: white;
    border: 2px solid white;
    border-radius: 20px;
    width: 97%;
    height: 40px;
    margin: 7px ;
    font-weight: 700;
    cursor:pointer;
}

.signup-buton:hover {
    background-color: rgb(240, 240, 240);
    border-color: rgb(240, 240, 240);
}

.error {
    background-color: red;
    padding: 0px 10px;
    
    
}